name: Build And Push To ECR

on:
    push:
        branches:
            - main
            
        paths:
            - "backend/**" # only trigger on changes in backend directory
            - "!backend/**/*.md" # ignore markdown file changes
        
    workflow_dispatch:



jobs:
    build-and-push:
        runs-on: ubuntu-latest

        permissions:
            contents: write
            id-token: write # needed for OIDC authentication


        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                role-to-assume: ${{secrets.AWS_ROLE_ARN}}
                aws-region: ${{secrets.AWS_REGION}}
            
            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v2

            - name: Build, tag, and push image to Amazon ECR
              env:
                ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
                ECR_REPOSITORY: ecotrack-backend
                IMAGE_TAG: ${{github.sha}}
              run: | 
                # Build from the backend directory
                docker build -t $ECR_REPOSITORY:$IMAGE_TAG -f ./backend/Dockerfile ./backend
                 
                # tag the image with the ECR registry
                docker tag $ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

              
                # Push the image to ECR
                docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG


            